@model PizzeriaApp.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<h1>Papildus informācija</h1>

<div>
    <h4>Kategorija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nosaukums
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Pamatkategorija
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Rediģēt</a> |
    <a asp-action="Index">Atpakaļ uz sarakstu</a>
</div>
