@model PizzeriaApp.Models.Badge

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<h1>Dzēšana</h1>

<h3>Vai tiešām vēlaties dzēst šo ierakstu?</h3>
<div>
    <h4>Žetons</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nosaukums
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Apraksts
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Dzēst" class="btn btn-danger" /> |
        <a asp-action="Index">Atpakaļ uz sarakstu</a>
    </form>
</div>
