@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; border-color: #9A616D;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" style="padding-left: 14px; min-height: 100%;">
                            <img src="/images/4pizza.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; min-height: 100%;"  />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form id="account" method="post">
                                     
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0 ml-2">Picērija</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Pieslēdzies savam kontam</h5>
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                                        <label asp-for="Input.Email" class="form-label">E-pasts</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" />
                                        <label asp-for="Input.Password" class="form-label">Parole</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="fw-normal mb-1 pb-1">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="checkbox">
                                                    <label asp-for="Input.RememberMe" class="form-label ml-3">
                                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                                        Atcerēties?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <a class="small mr-auto" id="forgot-password" asp-page="./ForgotPassword" style="color: #3b71ca;">Aizmirsi paroli?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" id="loginSubmit" type="submit">Pieslēgties</button>
                                    </div>

                                    <p class="my-5 pb-lg-2 h5 m-0" style="color: #393f81;">
                                        Esi te jauniņais?
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color: #393f81;">Reģistrējies te!</a>
                                    </p>
                                    <p class="my-5 pb-lg-2 h5 m-0" style="color: #393f81;">
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Saņemt E-pasta apstiprinājumu</a>
                                    </p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
