<section class="first-section" id="menu-nav">
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-md-between">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="row justify-content-center pt-lg-4 pt-md-0 pt-0">
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-2 my-2
                  d-flex
                  justify-content-center
                ">
                        <a class="card-title" href="burgers.html">
                            <div class="card">
                                <img src="img/burger-menu.png" class="img-fluid mobile-image" alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Burgeri</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                ">
                        <a class="card-title" href="snacks.html">
                            <div class="card">
                                <img src="img/nuggets-menu.png" class="img-fluid mobile-image" alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center active">Uzkodas</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                ">
                        <a class="card-title" href="drinks.html">
                            <div class="card">
                                <img src="img/drink-menu.png" class="img-fluid mobile-image" alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Dzērieni</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                ">
                        <a class="card-title" href="dessert.html">
                            <div class="card">
                                <img src="img/dessert-menu.png" class="img-fluid mobile-image" alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Saldie</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="item-section" id="items">
    <div class="container">
        <div class="row justify-content-center justify-content-md-between">
            <div class="col-md-12 col-lg-12 col-12">
                <h2 class="text-center my-5">Mūsu uzkodas</h2>
                <div class="row justify-content-center pt-lg-4 pt-md-0 pt-0">
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-2 my-2
                  d-flex
                  justify-content-center
                  bg-yelow-hover
                ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-yelow">
                                <img src="img/Menu/Snacks/cheese_sticks.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Siera nūjiņas</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                  bg-green-hover
                ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-green">
                                <img src="img/Menu/Snacks/fries.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Frī kartupeļi</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                  bg-blueish-hover
                ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-blueish">
                                <img src="img/Menu/Snacks/onion_rings.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Sīpolu gredzeni</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                col-12 col-lg-3 col-md-6 col-sm-12
                my-lg-2 my-md-5 my-ms-0 my-1
                d-flex
                justify-content-center
                bg-purple-hover
              ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-purple">
                                <img src="img/Menu/Snacks/salad.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Svaigie salāti</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
              col-12 col-lg-3 col-md-6 col-sm-12
              my-lg-2 my-md-5 my-ms-0 my-1
              d-flex
              justify-content-center
              bg-redish-hover
            ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-redish">
                                <img src="img/Menu/Snacks/BBQ.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">BBQ mērce</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="
                  col-12 col-lg-3 col-md-6 col-sm-12
                  my-lg-2 my-md-5 my-ms-0 my-1
                  d-flex
                  justify-content-center
                  bg-purplish-hover
                ">
                        <a class="card-title" href="view-item.html">
                            <div class="card bg-purplish">
                                <img src="img/Menu/Snacks/sweet_onion.png" class="img-fluid " alt="..." />
                                <div class="card-body p-sm-0 p-0 p-lg-3">
                                    <h3 class="card-title text-center">Sīpolu dip-mērce</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>